:root {  
  /* App Color Scheme */
  --blue: #1D428A;
  --white: #FFFFFF;
  --red: #D00D2E; 

  /* Example of how to call CSS variables:
    color: var(--blue);
  */
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: medium;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

a:hover {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  box-sizing: border-box;
  /* transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease; */
}

nav {
  height: 85px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  /* background: black; */
  /* vertical-align: bottom; */
  align-items: center;
}

.nav-title {
  margin-left: .5em;
  margin-right: auto;
  font-weight: bold;
  letter-spacing: .08em;
}

.nav-link {
  display: flex;
  letter-spacing: 0em;
  margin-right: .5em;
  font-weight: 300;
  font-size: medium;
}

h1 {
  text-align: center;
  margin: 10%;
}

.projects-container {
  margin: 5%;
}

.project-card {
  text-align: center;
}

.project-card-title {
  font-weight: bold;
}