:root {  
  /* App Color Scheme */
  --blue: #1D428A;
  --white: #FFFFFF;
  --red: #D00D2E; 

  /* Example of how to call CSS variables:
    color: var(--blue);
  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: medium;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}

nav {
  /* height: 130px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  padding: 1%;
}

.nav-title {
  display: flex;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: .09em;
  margin: 5%;
}

.nav-link {
  display: flex;
  letter-spacing: .01em;
  font-weight: 200;
  font-size: 15px;
  box-sizing: border-box;
  margin: 1%;
}

h1 {
  text-align: center;
  margin: 5%;
}

.projects-container {
  margin: 5%;
}

.project-image-container {
  display: block;
  height: auto;
  position: relative;
  width: 100%;
}

.project-image-container:hover .project-image-overlay {
  opacity: .8;
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
}

.project-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.project-image-text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-card {
  margin-bottom: 2em;
}

.project-card-title {
  margin-bottom: .1em;
  font-weight: bold;
  letter-spacing: .05em;
  font-size: 25px;
  text-transform: uppercase;
  text-align: left;
}

.project-card-description {
  font-style: italic;
}

.even {
  margin-right: 55%;
}

.odd {
  margin-left: 55%;
}

/* .project-page {
  margin: 5%;
} */

.product-page-title {
  margin-top: 10%;
  margin-bottom: 15%;
}

.project-page-body {
  margin: 5%;
}

.project-page-tech {
  text-align: center;
}

.project-page-row {
  display: flex;
}

.project-page-column {
  flex: 50%;
}

.left-column {
  flex: 4;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.right-column {
  flex: 5;
  /* margin-right: 10%; */
  text-align: center;
}

.project-page-image {
  width: 100%;
}

.product-page-title {
  font-weight: 800;
  text-transform: uppercase;
}

.project-page-sub-title {
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .project-card {
    margin-right: 0;
    margin-left: 0;
  }
  .project-page-column {
    display: block;
  }
  .project-page-row {
    display: block;
  }
  .left-column {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1em;
  }
  .nav {
    flex-wrap: wrap;
  }
  .nav-title {
    width: 100%;
    text-align: center;
  }
}